@import url('https://fonts.googleapis.com/css?family=Pompiere');
@import "~bootstrap/scss/bootstrap";

$bgHome: #DDC976;
$bgWhere: #FFFFFF;
$bgCivil: #78989B;
$bgCeleb: #82AD99;
$bgSoiree: #34434C;
$bgRsvp: #DDC976;
$bgGift: #FFF;
$bgContact: #34434C;

.font-pompiere {
    font-size: 24px;
    font-family: 'Pompiere', cursive;
}

#fanion {
    background: $bgHome url(../../assets/fanion.svg) no-repeat center center;
    background-size: auto 35px; /* version standardisée */
    height: 70px;
    min-height: 70px;

}

#aline-et-jonathan {
    background-color: $bgHome;
    height: 100%;
    min-height: 100%;
}

:host /deep/ .section-padding {
    padding: 5rem 0;
}

#where {
    background-color: $bgWhere;
}

:host /deep/ #civil, :host /deep/ #celeb, :host /deep/ #soiree, :host /deep/ #rsvp {
    color: white;
    text-align: center;
    @extend .font-pompiere;
}

:host /deep/ #civil {
    background-color: $bgCivil;
}

:host /deep/ #celeb {
    background-color: $bgCeleb;
}

:host /deep/ #soiree {
    background-color: $bgSoiree;
}

:host /deep/ #infos {
    @extend .font-pompiere;
}

:host /deep/ #rsvp {
    background-color: $bgRsvp;
}

:host /deep/ #kadolog {
    background-color: $bgGift;
    color: black;

}

#contact {
    background-color: $bgContact;
    padding: 0.5rem 0;
    a {
        color: white;
        font-size: 1.2rem;
    }
}

:host /deep/ .btn-primary {
    color: #fff;
    background-color: $bgCeleb;
    border-color: $bgCeleb;
}

:host /deep/ .btn-outline-primary {
    color: $bgCeleb;
    border-color: $bgCeleb;
    &:hover {
        color: #fff;
        background-color: $bgCeleb;
    }
}

:host /deep/ .btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}

:host /deep/ .card-columns {
    @include media-breakpoint-only(md) {
        column-count: 1;
    }
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(xl) {
        column-count: 2;
    }

    .img-thumbnail {
        background-color: $bgCivil;
        color: #fff;
        width:48px;
        height:48px;
        font-size: 36px;
        text-align: center;
    }
}

:host /deep/ .card-basket {
    background-color: $bgCivil;
    color: #fff;
}
