@import "../../variables";

nav {
    background: $yellow url(../../assets/fanion.svg) no-repeat center center;
    background-size: auto 35px; /* version standardisée */
    height: 60px;
}

:host /deep/ #aline-et-jonathan {
    background-color: $yellow;
    height: 100%;
    min-height: 100%;
    .container {
        display:flex;
        align-items:center;
    }
}

:host /deep/ #vous-invit {
    padding: 5rem 0;
}
