/* You can add global styles to this file, and also import other style files */

$yellow: #DDC976;

nav {
    background: url(assets/fanion.svg) no-repeat center center;
    background-size: auto 35px; /* version standardisée */
    height: 60px;
}

.bg-yellow {
    background-color: $yellow;
}
