/* You can add global styles to this file, and also import other style files */

#invit-container {
    width:298px;
    height:420px;
    background: url("assets/paper_sheet.png") no-repeat center fixed;
    background-size: 100% 100%; /* version standardisée */
}
